body {

    
    background-color: #252525;
    font-family: 'Kanit', sans-serif;
    font-weight: lighter;
    color: #fff;
}

.img-bot{
    float: right;
    display: flex;
    margin-top: -10%;
}

.img-bot img {
    position: relative;
    display: flex;
    right: 25%;
    width:450px;
    height:530.28px;
    
}

h1 {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
}

h1::first-letter {
    color: #467BCA;
}



.block p a {
    position: relative;
    top: 50%;
}

.block p::first-letter{
    color: #467BCA;
    font-size: 30px;
    font-weight: bold;
}

.block a{
    color: #467BCA;
    font-size: 30px;
    font-weight: bold;
}


section {
    display: inline-block;
    max-width: 600px;
    margin: 0 auto 1em 10px;
    height: 200px;
    font-size: 25px;
    text-align: center;
    transform: preserve-3d;
}

@media (max-width: 768px){
    .img-bot img {
        position: relative;
        display: block;

        right: 30px;
        width:200px;
        height:235.68px;
    }



    


    
}

@media (max-width: 1100px){
    .img-bot img {
        position: relative;
        display: block;
        width:300px;
        height:335.68px;
    }
    
}